name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Debug Host
        run: |
          echo "HOST->'${{ secrets.EC2_HOST }}'"
          echo "USER->'${{ secrets.EC2_USER }}'"
          echo "PATH->'${{ secrets.EC2_PATH }}'"

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
            cd ${{ secrets.EC2_PATH }} &&
            git pull &&
            npm install --production &&
            pm2 restart all
          "
